# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt
import numpy as np
from collections import OrderedDict
from scipy import stats
import scipy.stats as sp

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv("Resources/hawaii_measurements.csv")
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
# Check the format of 'Date' column
df.info

<bound method DataFrame.info of            station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
4      USC00519397 2010-01-06   NaN    73
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71
19546  USC00516128 2017-08-20   NaN    78
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]>

In [4]:
# Set the date column as the DataFrame index
df_reset=df.set_index('date')
print(df_reset)
#df_reset.info()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [5]:
# Drop the date column
df_reset_Index=df_reset.reset_index(level=None, drop=True, inplace=False)
df_reset_Index

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [6]:
# Filter data for desired months
df["Month"] = np.nan
df.reset_index()

for index,datarow in df.iterrows():
        df.loc[index,"Month"] = datarow["date"].month

jun_data = df[df.Month == 6]
dec_data = df[df.Month == 12]

In [7]:
# Identify the average temperature for June
jun_ave_tem = jun_data['tobs'].mean()
print("The average temperature for June is: {}".format(round(jun_ave_tem,2))+ "°F")

The average temperature for June is: 74.94°F

In [8]:
# Identify the average temperature for December
dec_ave_tem = dec_data['tobs'].mean()
print("The average temperature for December is: {}".format(round(dec_ave_tem,2))+ "°F")

The average temperature for December is: 71.04°F

In [30]:
# Create collections of temperature data
jun_temp=jun_data['tobs'].to_list()
dec_temp=dec_data['tobs'].to_list()

In [31]:
#Before perfome the test we need to decide if the two population have equal variance. We can assume the populations have equal
#variance if the ratio of the larger sample variance to the smaller sample variance is less than 4:1.

# find variance for each group 

print(np.var(jun_temp), np.var(dec_temp))

# The ratio of the larger sample variance to the smaller sample variance is 14.0226 / 10.6045 = 1.3223, 
# which is less than 4. This means we can assume that the population variances are equal.

10.604524221453287 14.022665558302325

In [44]:
# Run paired t-test
stats.ttest_ind(a=jun_tep, b=dec_tep, equal_var=True)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

The paired T-Test is appropiate to measure June and December avaerage temperature. The T-Test shows a large statistic and a very small p value.Therefore, we conclude that June and December average temperatures are statistically different from one another.